@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> If you need to remind yourself what to do next, have a look at the <a href="https://github.com/truecodersio/AspNetCoreKata">Readme</a>.</p>
<p> If you need some inspiration for app design, check out the <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">Bootstrap documentation</a>.</p>